body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 12px;
}
h2 {
    margin: 30px 0 0 50px;
    width: 580px;
    padding: 8px;
    border: 5px solid #aaaaaa;
    border-radius: 10px;
}
li {
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 8px;
}
.join{
    margin: 50px 0 0 50px;
    padding-left: 100px;
    width: 500px;
    border-top: 3px #bbbbbb solid;
    border-bottom: 3px #bbbbbb solid;
    background-repeat: repeat-x;
}
.name {
    width: 50px;
    text-align: center;
}
.info {
    width: 120px;
}
#btn {
    margin-left: 380px;
}
