body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 12px;
}
h2 {
    margin: 30px 0 30px 80px;
}
li {
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 8px;
}
.join{
    margin: 30px 0 20px 40px;
    padding-left: 40px;
    width: 350px;
    border-top: 3px #bbbbbb solid;
    border-bottom: 3px #bbbbbb solid;
    background-repeat: repeat-x;
}
.name {
    width: 50px;
    text-align: center;
}
.info {
    width: 120px;
}
#btn {
    margin-left: 260px;
}